#main_panel{
    position: relative;
    top: 150px;
    width: 600px;
    height: 600px;   
    margin: 0 auto;
}

.panel{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    position: absolute;    
}

.panel:nth-child(1){
    bottom: 0;
    right: 0;
}
.panel:nth-child(2){
    bottom: 0;
    right: 100px;    
}
.panel:nth-child(3){
    bottom: 0;
    right: 200px;    
}
.panel:nth-child(4){
    bottom: 0;
    right: 300px;    
}
.panel:nth-child(5){
    bottom: 0;
    right: 400px;    
}
.panel:nth-child(6){
    bottom: 0;
    right: 500px;    
}
.panel:nth-child(7){
    bottom: 100px;
    right: 500px;    
}
.panel:nth-child(8){
    bottom: 200px;
    right: 500px;    
}
.panel:nth-child(9){
    bottom: 300px;
    right: 500px;   
}
.panel:nth-child(10){
    bottom: 400px;
    right: 500px;    
}
.panel:nth-child(11){
    bottom: 500px;
    right: 500px;    
}
.panel:nth-child(12){
    bottom: 500px;
    right: 400px;    
}
.panel:nth-child(13){
    bottom: 500px;
    right: 300px;    
}
.panel:nth-child(14){
    bottom: 500px;
    right: 200px;    
}
.panel:nth-child(15){
    bottom: 500px;
    right: 100px;    
}
.panel:nth-child(16){
    bottom: 500px;
    right: 0;    
}
.panel:nth-child(17){
    bottom: 400px;
    right: 0;    
}
.panel:nth-child(18){
    bottom: 300px;
    right: 0;    
}
.panel:nth-child(19){
    bottom: 200px;
    right: 0;    
}
.panel:nth-child(20){
    bottom: 100px;
    right: 0;    
}
#char_set{
    position: relative;  
    top: 175px;
}

#char_set ul{
    position: absolute;
    left: -webkit-calc(50% - 150px);
    top: 250px;
}
#char_set ul li{     
    display: inline;
    position: absolute;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;  
}
#char_set ul li:nth-child(1){
    left: 0;
}
#char_set ul li:nth-child(2){
    left: 50px;
}
#char_set ul li:nth-child(3){
    left: 100px;
}
#char_set ul li:nth-child(4){
    left: 150px;
}
#char_set ul li:nth-child(5){
    left: 200px;
}
#char_set ul li:nth-child(6){
    left: 250px;
}

#experiment {
    -webkit-perspective: 800;
    -webkit-perspective-origin: 50% 105px;
    -moz-perspective: 800;
    -moz-perspective-origin: 50% 105px;
    position: absolute;
    top: 200px;
    left: 40%;
    z-index: 10;
}
#experiment2{
    -webkit-perspective: 800;
    -webkit-perspective-origin: 50% 100px;
    -moz-perspective: 800;
    -moz-perspective-origin: 50% 100px;
    position: absolute;
    top: 200px;
    left: 50%; 
    z-index: 10;
    
}
.cube{
    position: relative;
    margin: 100px auto 0;
    height: 150px;
    width: 150px;
    -webkit-transform: rotateX(180deg) rotateY(810deg);
    -webkit-transition: -webkit-transform 2.2s ease-in-out;
    -webkit-transform-style: preserve-3d;
    -moz-transition: -moz-transform 2s ease-in-out;
    -moz-transform-style: preserve-3d;      
}

.face{
    position: absolute;
    height: 90px;
    width: 90px;
    padding: 20px;
    background-color: rgba(50, 50, 50, 0.7);
    font-size: 27px;
    line-height: 1em;
    color: white;
    border: 1px solid #555;
    border-radius: 3px;   
    text-align: center;  
}

.cube .one{
    line-height: 90px;
    -webkit-transform: rotateX(90deg) translateZ(66.6px);
    -moz-transform: rotateX(90deg) translateZ(200px);   
}
.cube .two {
    line-height: 90px;
    -webkit-transform: translateZ(66.6px);
    -moz-transform: translateZ(66.6px);
}
.cube .three {
    line-height: 90px;
    -webkit-transform: rotateY(90deg) translateZ(66.6px);
    -moz-transform: rotateY(90deg) translateZ(66.6px);
}
.cube .four {
    padding: 35px 20px 5px 20px;
    -webkit-transform: rotateY(-90deg) translateZ(66.6px);
    -moz-transform: rotateY(-90deg) translateZ(66.6px);
}
.cube .five {
    padding: 35px 20px 5px 20px;
    -webkit-transform: rotateY(180deg) translateZ(66.6px);
    -moz-transform: rotateY(180deg) translateZ(66.6px);
}
.cube .six {
    padding: 35px 20px 5px 20px;
    -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(66.6px);
    -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(66.6px);
}

#button_container{
    display: block;
    height: 150px;
    width: 150px;
    text-align: center;  
    top: 500px;
    left: 70%;
    position: absolute;
}

#macao_button{
    background: url(../img/red-button.png) no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
    display: block;
    -webkit-appearance: none; 
    border: 0;
    margin: 0 auto;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
}

#macao_button.gofar{
    height: 125px;
    width: 125px;
}

.move0, .move20{
    top: 100px !important; /*100, 0, -100, -200, -300, -400 */
    left: 350px !important; /*350, 250, 150, 50, -50, -150*/
}
.move1{
    top: 100px !important;
    left: 250px !important;   
}
.move2{
    top: 100px !important;
    left: 150px !important;   
}
.move3{
    top: 100px !important;
    left: 50px !important;   
}
.move4{
    top: 100px !important;
    left: -50px !important;   
}
.move5{
    top: 100px !important;
    left: -150px !important;
}
.move6{
    top: 0 !important;
    left: -150px !important;   
}
.move7{
    top: -100px !important;
    left: -150px !important;   
}
.move8{
    top: -200px !important;
    left: -150px !important;   
}
.move9{
    top: -300px !important;
    left: -150px !important;  
}
.move10{
    top: -400px !important;
    left: -150px !important;   
}
.move11{
    top: -400px !important;
    left: -50px !important;   
}
.move12{
    top: -400px !important;
    left: 50px !important;   
}
.move13{
    top: -400px !important;
    left: 150px !important;   
}
.move14{
    top: -400px !important;   
    left: 250px !important; 
}
.move15{
    top: -400px !important;   
    left: 350px !important;   
}
.move16{
    top: -300px !important;   
    left: 350px !important;   
}
.move17{
    top: -200px !important;   
    left: 350px !important;   
}
.move18{
    top: -100px !important;   
    left: 350px !important;   
}
.move19{
    top: 0px !important;   
    left: 350px !important;   
}

#do_work{
    width: 162px;
    height: 177px;
    position: absolute;
    left: -350px;
}
#do_work .dropdown-menu{
    top: 2em;   
}
#do_work .dropdown-menu li{
    line-height: 1.8em;
    padding-left: 10px;
    cursor: pointer;
}

#do_work .dropdown-menu li:hover{
    background-color: #dedede;   
}

#work_comment{
    position: relative;
    top: 100px;
    left: 0;
    width: 300px;
    font-size: 15px;
    word-break: break-all;
    white-space: normal;
    line-height: 1.6em;
    color: red;
    padding-left: 10px;   
}
#doit{
    position: relative;
    top: 110px;   
}