<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ko" class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app> <![endif]-->
<!--[if IE 7]><html lang="ko" class="no-js lt-ie9 lt-ie8" ng-app> <![endif]-->
<!--[if IE 8]><html lang="ko" class="no-js lt-ie9" ng-app> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="ko" class="no-js" ng-app > <!--<![endif]-->
<head>
<meta charset='utf-8'>
<title>Macao Web Application</title>
<script>
    function isMobile(){ 
        if('ontouchstart' in window ) {
            var userAgent = navigator.userAgent.toLowerCase(), 
                browser = {
                    msie    : /msie/.test( userAgent ) && !/opera/.test( userAgent ),
                    safari  : /webkit/.test( userAgent ),
                    firefox : /mozilla/.test( userAgent ) && !/(compatible|webkit)/.test( userAgent ),
                    opera   : /opera/.test( userAgent )
                };

            if( browser.msie ){ //IE
            //alert("ie");
                document.write('<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />');
                document.createElement("header");
                document.createElement("section");
                document.createElement("article");
                document.createElement("footer");
                document.createElement("menu");
                document.createElement("nav");
            //  document.write('IEmeta')
            } else if ( browser.safari ){ //Chrome || Safari
            // alert("Chrome Safari");
                document.write('<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />')
            } else if ( browser.opera ){ // Opera
            // alert("opera");
                document.write('<meta name="viewport" content="user-scalable=no, initial-scale=0.75, maximum-scale=0.75, minimum-scale=0.75" />')
            } else { 
            // alert("etc");
                document.write('<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no " />')
            }

            window.addEventListener('load', function() {
		      setTimeout(scrollTo, 0, 0, 1); 
	        }, false);
        } 
        else{
            return false;
        }
    }
</script>
<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon.png"> 
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-startup-image" href="startup.png">
<link rel="icon" media="all" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="css/formalize.css">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/bootstrap-responsive.min.css">
<link rel="stylesheet" href="css/jquery.mobile-1.1.min.css">
<link rel="stylesheet" href="css/main.css">
<script src="js/modernizr-2.6.2.min.js"></script>
<script src="js/require-2.1.2.min.js"></script>
<script src="js/angular-1.0.3.min.js"></script>
<script src="js/physics.min.js"></script>
<script src="js/common.js"></script>
</head>
<body>
<header>
    <h1 style="display:none;">마카오입니다. 무엇을 도와드릴까?</h1>
</header>
<div id="experiment"> 
    <div class="cube">
        <div class="face one">
            <span>●</span>        
        </div>
        <div class="face two">
            <span>●</span> <span>●</span>
        </div>
        <div class="face three">
            <span>●</span> <span>●</span> <span>●</span>
        </div>
        <div class="face four">
            <span>●</span> <span>●</span><br/>
            <span>●</span> <span>●</span>
        </div>
        <div class="face five">
            <span>●</span> <span>●</span> <span>●</span><br/>
            <span>●</span> <span>●</span>
        </div>
        <div class="face six">
            <span>●</span> <span>●</span> <span>●</span><br/>
            <span>●</span> <span>●</span> <span>●</span>
        </div>
    </div>    
</div>
<div id="experiment2"> 
    <div class="cube">
        <div class="face one">
            <span>●</span>        
        </div>
        <div class="face two">
            <span>●</span> <span>●</span>
        </div>
        <div class="face three">
            <span>●</span> <span>●</span> <span>●</span>
        </div>
        <div class="face four">
            <span>●</span> <span>●</span><br/>
            <span>●</span> <span>●</span>
        </div>
        <div class="face five">
            <span>●</span> <span>●</span> <span>●</span><br/>
            <span>●</span> <span>●</span>
        </div>
        <div class="face six">
            <span>●</span> <span>●</span> <span>●</span><br/>
            <span>●</span> <span>●</span> <span>●</span>
        </div>
    </div>    
</div>
<section id="main_panel">
    <div class="panel start_edge">
        출발! 한바퀴 돌아올때마다 임의의 포상 휴가를 받습니다.
    </div>
    <div class="panel first_side">102 보충대</div>
    <div class="panel first_side">306 보충대</div>
    <div class="panel first_side">황금마차</div>
    <div class="panel first_side">논산 훈련소</div>    
    <div class="panel first_side">영창</div>
    <div class="panel first_edge">행정반</div>
    <div class="panel first_edge">소대장실</div>
    <div class="panel first_edge">충성클럽</div>
    <div class="panel first_edge">주임원사실</div>    
    <div class="panel first_edge">복불복 파견</div>
    <div class="panel first_edge">헌병대대</div>  
    <div class="panel first_edge">수송대대</div>  
    <div class="panel first_edge">황금마차</div>
    <div class="panel first_edge">관리대대</div>
    <div class="panel first_edge">운전병과의 쇼부</div>    
    <div class="panel first_edge">계룡대근무지원단</div>
    <div class="panel first_edge">제2작전사령부</div>
    <div class="panel first_edge">3군본부</div>
    <div class="panel first_edge">국방부</div>
    <nav id="char_set">
        <ul>
            <li id="player1"><img src="./sheldon.jpg" /></li>
            <li id="player2"><img src="./itcrowd.png" /></li>
            <li id="player3"><img src="./hoking.jpg" /></li>
            <li id="player4"><img src="./sulli.jpg" /></li>
            <li id="player5"><img src="./c_bang.jpg" /></li>
        </ul>
    </nav>
    <div id="do_work" class="btn-group open" style="left: -3000px;">
      <button class="btn">Action</button>
      <button class="btn dropdown-toggle" data-toggle="dropdown" style="padding-top: 6px;padding-bottom: 10px;">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li class="cleaning">대청소를 해준다</li>
        <li class="dropping">복분자를 대접한다</li>
        <li class="teaching">학문을 가르친다</li>       
      </ul>
      <div id="work_comment">  
          1. 휴가 가능성은 해당 지역을 거쳐가는 타 플레이어의 휴가를 뺏을 때 부여됩니다. <br>
          2. 짬이 찰수록 일을 할 때 잘못을 일으킬 가능성이 낮아집니다. 하지만 말년이 되면 말썽을 일으킵니다.<br>
          3. 게임상의 한 턴이 지날 때마다 10일이 흐릅니다.<br>
          4. 다른 병사가 공헌한 곳에 도착하게 되면 비난을 받으면서 휴가가 삭감되고, 공헌한 병사에게 그만큼의 상장이 주어집니다.<br>
          5. 받은 상점과 벌점은 복무일수에 곧바로 반영됩니다.<br>
          6. 벌점 또는 징계를 받을 때마다 해당 플레이어의 사고로 기록이 됩니다. 사고를 너무 많이 치는건 물론, 너무 적게 치는 것도 좋지만은 않습니다.
      </div>
      <button id="doit" class="btn" style="display:none;">당장 한다</button>     
    </div>
</section>
<div id="button_container">
   <button id="macao_button"></button> 
</div>

<aside id="profile">
    <article id="day-data">
        <div id="day-data-1" style="display:none;">(휴가를 제외한) 복무일수가 일 남았습니다.
            <div id="minus-in-army-day">
                <ul id="minus-list">
                    <li class="vacation-class {{vacation.ktx}}" ng-repeat="vacation in vacations" ng-click="visibility='invisible'" ng-class="visibility">
                        <label for="reason{{cnt()}}">포상 = </label><span id="reason{{cnt()}}" class="vacation_reason">{{vacation.reason}}</span> <br/>
                        <label for="upcoming{{cnt()}}">기간 = </label><span id="upcoming{{cnt()}}" class="vacation_count">{{vacation.period}}일</span>    
                    </li>
                </ul>
            </div>        
        </div>
        <div id="day-data-2" style="display:none;">(휴가를 제외한) 복무일수가 일 남았습니다.
            <div id="minus-in-army-day">
                <ul id="minus-list">
                    <li class="vacation-class {{vacation.ktx}}" ng-repeat="vacation in vacations" ng-click="visibility='invisible'" ng-class="visibility">
                        <label for="reason{{cnt()}}">포상 = </label><span id="reason{{cnt()}}" class="vacation_reason">{{vacation.reason}}</span> <br/>
                        <label for="upcoming{{cnt()}}">기간 = </label><span id="upcoming{{cnt()}}" class="vacation_count">{{vacation.period}}일</span>    
                    </li>
                </ul>
            </div>        
        </div>         
        <div id="day-data-3" style="display:none;">(휴가를 제외한) 복무일수가 일 남았습니다.
            <div id="minus-in-army-day">
                <ul id="minus-list">
                    <li class="vacation-class {{vacation.ktx}}" ng-repeat="vacation in vacations" ng-click="visibility='invisible'" ng-class="visibility">
                        <label for="reason{{cnt()}}">포상 = </label><span id="reason{{cnt()}}" class="vacation_reason">{{vacation.reason}}</span> <br/>
                        <label for="upcoming{{cnt()}}">기간 = </label><span id="upcoming{{cnt()}}" class="vacation_count">{{vacation.period}}일</span>    
                    </li>
                </ul>
            </div>      
        </div>  
        <div id="day-data-4" style="display:none;">(휴가를 제외한) 복무일수가 일 남았습니다.
            <div id="minus-in-army-day">
                <ul id="minus-list">
                    <li class="vacation-class {{vacation.ktx}}" ng-repeat="vacation in vacations" ng-click="visibility='invisible'" ng-class="visibility">
                        <label for="reason{{cnt()}}">포상 = </label><span id="reason{{cnt()}}" class="vacation_reason">{{vacation.reason}}</span> <br/>
                        <label for="upcoming{{cnt()}}">기간 = </label><span id="upcoming{{cnt()}}" class="vacation_count">{{vacation.period}}일</span>    
                    </li>
                </ul>
            </div>      
        </div>  
        <div id="day-data-5" style="display:none;">(휴가를 제외한) 복무일수가 일 남았습니다.
            <div id="minus-in-army-day">
                <ul id="minus-list">
                    <li class="vacation-class {{vacation.ktx}}" ng-repeat="vacation in vacations" ng-click="visibility='invisible'" ng-class="visibility">
                        <label for="reason{{cnt()}}">포상 = </label><span id="reason{{cnt()}}" class="vacation_reason">{{vacation.reason}}</span> <br/>
                        <label for="upcoming{{cnt()}}">기간 = </label><span id="upcoming{{cnt()}}" class="vacation_count">{{vacation.period}}일</span>    
                    </li>
                </ul>
            </div>      
        </div>  
    </article>
</aside>
<script>
if(isMobile()) document.write('<script src="js/zepto.min.js"><\/script>');
else document.write('<script src="js/jquery-1.8.2.min.js"><\/script>');
</script>
<script src="js/bootstrap.js"></script>
<script>
sessionStorage.clear();
    
function getRandomNum(){
    return new Date().getTime();
};
function getRandomNum2(){
    return parseInt(Math.random()*6)+1;
};
function selectInitialize(){
    $("#do_work").css("left", "-3000px");
    $("#work_comment").html(
        "1. 휴가 가능성은 해당 지역을 거쳐가는 타 플레이어의 휴가를 뺏을 때 부여됩니다. <br> 2. 짬이 찰수록 일을 할 때 잘못을 일으킬 가능성이 낮아집니다. 하지만 말년이 되면 말썽을 일으킵니다.<br> 3. 게임상의 한 턴이 지날 때마다 10일이 흐릅니다.<br> 4. 다른 병사가 공헌한 곳에 도착하게 되면 비난을 받으면서 휴가가 삭감되고, 공헌한 병사에게 그만큼의 상장이 주어집니다.<br> 5. 받은 상점과 벌점은 복무일수에 곧바로 반영됩니다.<br> 6. 벌점 또는 징계를 받을 때마다 해당 플레이어의 사고로 기록이 됩니다. 사고를 너무 많이 치는건 물론, 너무 적게 치는 것도 좋지만은 않습니다.");    
};

var props = 'transform WebkitTransform MozTransform OTransform msTransform'.split(' '),
	prop,
	el = document.createElement('div');

for(var i = 0, l = props.length; i < l; i++) {
	if(typeof el.style[props[i]] !== "undefined") {
		prop = props[i];
		break;
	}
}
var host = ["지나가던 하사", "훈련소 소대장", "훈련 중대장", "어떤 소위", "논산훈련소장", "교도소장", "행정보급관", "소대장", "권총쏘던 소령", "주임원사", "파일럿 준위", "헌병대대장", "수송대대장",
            "순시돌던 준장", "관리대대장", "운전병", "단장", "사령관", "참모총장", "국방부장관"];
    
var vacationCandidate = ["체육대회 1등", "사단장 표창", "연대장 표창", "대대장 표창", "중대장 표창", "참모총장 명함", "사령관 명함", "상점 10점", "분대장포상", "상담병포상", "전투력측정1위",
                         "상점 20점", "상점 30점", "사령관 표창", "신병위로외박", "성과제 4개", "성과제 5개", "성과제 10개", "금연 포상", "1차 정기", "2차 정기", "3차 정기"];

var goldenCard = ["농구를 하다가 손가락이 부러졌습니다","축구를 하다가 병원에 실려갔습니다", "배드민턴을 치다가 발목이 삐었습니다", "선임한테 대들다가 영창을 갔습니다", "폭설이 내려 제설을 했습니다",
                  "간첩을 잡았습니다", "휴가 나가서 대민마찰/여자와의 관계/을(를) 일으켰습니다", "여자 친구와 헤어지고 관심 병사가 되었습니다.", "후임에게 팔굽혀펴기를 시켰다가 걸려서 징계를 먹습니다."];
    
var level = ["훈련병", "이등병", "일등병", "물상병", "꺾인상병", "병장1호봉", "말년병장", "전역예정자"];
var level_day = [600, 480, 300, 200, 100, 50, 10, 0];

var learning = ["양자역학", "민법", "수학", "생화학", "심리학", "리더십", "그림판", "군법", "C언어", "여자", "SQL", "회계학", "더하기"];
    
var xAngle = 0, 
    yAngle = 0, 
    order = 0, 
    disableAnotherClick = false,
    player_order = 1, 
    turn = 0, 
    innerCount = 1, 
    turnPerDay = 10; 
    
    $(".cleaning").on('mouseover', function(){
        $("#work_comment").html("1 ~ 2일의 휴가 가능성을 얻습니다.<br> 휴가 삭감 또는 벌점을 받을 가능성이 거의 없습니다.");     
        $("#doit").show().removeClass("dropit teachit").addClass("cleanit");
        /*이미 clean되어 있을 때는 못하게 해야 한다.*/
    });
    $(".dropping").on('mouseover', function(){
        $("#work_comment").html("2 ~ 4일의 휴가 가능성을 얻습니다.<br> 휴가 삭감 또는 벌점을 받을 가능성이 조금 있습니다."); 
        $("#doit").show().removeClass("cleanit teachit").addClass("dropit");
    });
    $(".teaching").on('mouseover', function(){
        $("#work_comment").html("3 ~ 5일의 휴가 가능성을 얻습니다.<br> 휴가 삭감 또는 벌점을 받을 가능성이 농후하게 있습니다.");
        $("#doit").show().removeClass("dropit cleanit").addClass("teachit");
    });    
    $("#doit").on('click', function(){
        var imsi_order = order - 1; if(order == -1) imsi_order = $("li[selectedH='yes']").length-1;
        var inner_order = innerCount - 1; if(inner_order == 0) inner_order = $("li[selectedH='yes']").length;
        
        if($(this).hasClass("cleanit")) {

            var where = parseInt($("li[selectedH='yes']").eq(imsi_order).attr('class').replace("move",""));             
            
            var dayChange = JSON.parse(sessionStorage.getItem("player"+inner_order));
            var randomMinus = parseInt(Math.random()*4)-2;
           
            if(dayChange.dayleft < level_day[1] && dayChange.dayleft >= level_day[2]) randomMinus = parseInt(Math.random()*3)-2; 
            else if(dayChange.dayleft < level_day[2] && dayChange.dayleft >= level_day[5]) randomMinus = parseInt(Math.random()*2.5)-2; 
            else if(dayChange.dayleft < level_day[5]) randomMinus = parseInt(Math.random()*6)-2; 
            
            if(randomMinus > 0) alert("청소를 너무 못해서 "+host[where]+"님으로부터 "+randomMinus*10+"점의 벌점을 받았습니다.");
            else {
                alert(host[where]+"님으로부터 청소를 잘했다고 "+randomMinus*(-10)+"점의 상점을 받았습니다.");
                 $(".panel").eq(where).append("<img src='./img/cleaning.bmp' />").addClass("cleaned").addClass("possession"+inner_order);
            }
            dayChange.dayleft += randomMinus;
            var profile = {dayleft: dayChange.dayleft, order: dayChange.order, vacation: dayChange.vacation, accident: ++dayChange.accident};
            sessionStorage.setItem("player"+inner_order, JSON.stringify(profile));           
            
         }
         else if($(this).hasClass("dropit")){
             
            var where = parseInt($("li[selectedH='yes']").eq(imsi_order).attr('class').replace("move",""));  
            
            var dayChange = JSON.parse(sessionStorage.getItem("player"+inner_order));
            var randomMinus = parseInt(Math.random()*3);
            
            if(dayChange.dayleft < level_day[5]) randomMinus = parseInt(Math.random()*5); 
            else if(dayChange.dayleft < level_day[2] && dayChange.dayleft >= level_day[5]) randomMinus = parseInt(Math.random()*1.5); 
            else if(dayChange.dayleft < level_day[1] && dayChange.dayleft >= level_day[2]) randomMinus = parseInt(Math.random()*2);
            else if(dayChange.dayleft < level_day[0] && dayChange.dayleft >= level_day[1]) randomMinus = parseInt(Math.random()*2.5);
             
            if(randomMinus != 0) {                
                
                dayChange.dayleft += randomMinus;
                var profile = {dayleft: dayChange.dayleft, order: dayChange.order, vacation: dayChange.vacation, accident: ++dayChange.accident };
                sessionStorage.setItem("player"+inner_order, JSON.stringify(profile));
                 alert("술병을 깨서 "+host[where]+"님으로부터 "+randomMinus*10+"점의 벌점을 받았습니다.");    
            }
            else{
                $(".panel").eq(where).append("<img src='./img/dropping.jpg' />").addClass("dropped").addClass("possession"+inner_order);
            }
         }
        else if($(this).hasClass("teachit")){
            
            var where = parseInt($("li[selectedH='yes']").eq(imsi_order).attr('class').replace("move",""));  
           
            var dayChange = JSON.parse(sessionStorage.getItem("player"+inner_order));
            var randomMinus = parseInt(Math.random()*5);
            
            if(dayChange.dayleft < level_day[5]) randomMinus = parseInt(Math.random()*8); 
            else if(dayChange.dayleft < level_day[4] && dayChange.dayleft >= level_day[5]) randomMinus = parseInt(Math.random()*1.5); 
            else if(dayChange.dayleft < level_day[3] && dayChange.dayleft >= level_day[4]) randomMinus = parseInt(Math.random()*2);
            else if(dayChange.dayleft < level_day[2] && dayChange.dayleft >= level_day[3]) randomMinus = parseInt(Math.random()*3);
            else if(dayChange.dayleft < level_day[1] && dayChange.dayleft >= level_day[2]) randomMinus = parseInt(Math.random()*3.5);
            else if(dayChange.dayleft < level_day[0] && dayChange.dayleft >= level_day[1]) randomMinus = parseInt(Math.random()*4.5);
            else randomMinus = parseInt(Math.random()*5);            
            
            if(randomMinus != 0) {
                
                alert(host[where]+"님에게 "+learning[getRandomNum()%learning.length]+"을(를) 가르쳐주다가 "+randomMinus*10+"점의 벌점을 받았습니다.");
                dayChange.dayleft += randomMinus;
                var profile = {dayleft: dayChange.dayleft, order: dayChange.order, vacation: dayChange.vacation, accident: ++dayChange.accident};
                sessionStorage.setItem("player"+inner_order, JSON.stringify(profile));
            }            
            else{
                 $(".panel").eq(where).append("<img src='./img/teaching.GIF' />").addClass("taught").addClass("possession"+inner_order);
            }
         }
            
        selectInitialize();
        
    });
        
    var doWork = function(pos){
        var imsi_order = order - 1; if(order == -1) imsi_order = $("li[selectedH='yes']").length-1;
        var where = parseInt($("li[selectedH='yes']").eq(imsi_order).attr('class').replace("move",""));  
        if($(".panel").eq(where).hasClass("cleaned taught dropped")){
            var st = $(".panel").eq(where).attr("class").indexOf("possess");
            var belongTo = $(".panel").eq(where).attr("class").charAt(st+10); 
            if(belongTo == innerCount) {
                //happens nothing                
            }else{
                var possessChange = JSON.parse(sessionStorage.getItem("player"+belongTo));
                var dayChange = JSON.parse(sessionStorage.getItem("player"+innerCount));
                var incdec = parseInt(Math.random()*5)+5; /*5~9일*/
                dayChange.dayleft += incdec;
                var vacationGroup = [];
                switch(incdec) {
                    case 5: vacationGroup.push("연대장 표창"); break;
                    case 6: vacationGroup.push("대대장 표창"); vacationGroup.push("상점 20점"); break;
                    case 7: vacationGroup.push("중대장 표창"); vacationGroup.push("대대장 표창");  break;
                    case 8: vacationGroup.push("중대장 표창"); vacationGroup.push("연대장 표창"); break;
                    case 9: vacationGroup.push("대대장 표창"); vacationGroup.push("연대장 표창"); break;
                }
                sessionStorage.setItem("vacation"+belongTo, vacationGroup);
                alert(vacationGroup.toString()+'의 휴가를 얻었습니다.');
                var profile = {dayleft: dayChange.dayleft, order: dayChange.order, vacation: dayChange.vacation, accident: dayChange.accident};
                sessionStorage.setItem("player"+innerCount, JSON.stringify(profile));                  
            }
        }
        else if($(".panel").eq(where).hasClass("cleaned taught")){
            
        }
        else if($(".panel").eq(where).hasClass("cleaned dropped")){
            
        }
        else if($(".panel").eq(where).hasClass("dropped taught")){
            
        }
        else if($(".panel").eq(where).hasClass("cleaned")){
            
        }
        else if($(".panel").eq(where).hasClass("taught")){
            
        }        
        else if($(".panel").eq(where).hasClass("dropped")){
            
        }
        
        
        $("#do_work").css("left", "-350px");
        $("#do_work").addClass("open");          
    };

    var becomeExpert = function(acc, pos){
        var probability = 0;
        if(acc < 5) probability = Math.random()*5;
        else if(acc >= 5 & acc < 10) probability = Math.random()*3.5;
        else if(acc >= 10 & acc < 15) probability = Math.random()*2.5;
        else if(acc >= 15 & acc < 20) probability = Math.random()*2;
        else if(acc >= 20 & acc < 25) probability = Math.random()*1.5;
        else if(acc >= 25 & acc < 30) probability = Math.random()*1.2;
        else probability = Math.random()*1.1;
        
        if(probability > 1) {
            var reply = prompt(host[pos]+'님으로부터 전문하사 제의가 들어왔습니다. '+host[pos]+'님께 수락여부를 입력해주세요.', "예 알겠습니다");    
            if(reply.indexOf("예")!=-1 || reply.indexOf("알겠습니다")!=-1){
                if(reply.indexOf("싫")!=-1 || reply.indexOf("꺼")!=-1) return false;
                else return true;
            }
            else return false;
        }        
    }
    
    var leveling = function(ddays){
        for(var k = 0; k < level_day.length-1; k++){
            if(ddays <= level_day[k] && ddays > level_day[k+1]) {
                return (k+1);
            }
        }  
        return 0;
    }
   
        
    $("#macao_button").click(function(){      
        if(disableAnotherClick) return;
        disableAnotherClick = true;    
        
        selectInitialize();
        
        if($("li[selectedH='yes']").length==0) {
            disableAnotherClick = false;   
            return;
        }
        var dayChange = JSON.parse(sessionStorage.getItem("player"+innerCount));
        var profile = {dayleft: dayChange.dayleft-turnPerDay, order: dayChange.order, vacation: dayChange.vacation, accident: dayChange.accident};        
        sessionStorage.setItem("player"+innerCount, JSON.stringify(profile));
        player_order = profile.order;
        if(dayChange.dayleft > level_day[0] && profile.dayleft <= level_day[0]) {
            alert('이등병으로 진급하고 신병위로휴가를 받았습니다!');
        }
        else if(dayChange.dayleft > level_day[1] && profile.dayleft <= level_day[1]) {
            alert('일등병으로 진급하고 1차정기휴가를 받았습니다!');
        }
        else if(dayChange.dayleft > level_day[2] && profile.dayleft <= level_day[2]) {
            alert('물상병으로 진급하고 2차정기휴가를 받았습니다! 군생활 1년이 지나자 시간이 안가기 시작합니다.');
        }
        else if(dayChange.dayleft > level_day[3] && profile.dayleft <= level_day[3]) {
            alert('상병이 꺾였습니다! 병장(100일)까지 무사고 진급시 분대장 포상을 받습니다!');
        }
        else if(dayChange.dayleft > level_day[4] && profile.dayleft <= level_day[4]) {
            alert('병장으로 진급하고 3차정기휴가를 받았습니다! 사고를 친 경력이 적으면 전문하사 제의가 들어옵니다.');
        }
        else if(dayChange.dayleft > level_day[5] && profile.dayleft <= level_day[5]) {
            alert('말년이 되었습니다! 극악의 확률로 사고를 칩니다! 시간이 거의 흐르지 않습니다.');
        }
        else if(dayChange.dayleft > level_day[6] && profile.dayleft <= level_day[6]) {
            alert('전역예정자가 되었습니다! 모든 포상이 사라집니다.');  
        }
        else if(dayChange.dayleft <= level_day[7]) {
            alert('전역을 가장 먼저 하셨습니다! 수고하셨습니다!');   
        }
        

        $("#day-data-"+innerCount).show().text("Player "+innerCount+" ("+level[leveling(profile.dayleft)]+") : (휴가를 제외한) 복무일수가 "+profile.dayleft+"일 남았습니다.");
        innerCount++;        
        if(innerCount > $("li[selectedH='yes']").length) {         
            innerCount = 1;
            turn++;
        }
        $(this).removeClass("gofar");   
        var rst = getRandomNum()%6+1, rstValue;
        rstValue = rst;
        xAngle = 0;
        yAngle = 0;
        switch(rst){
            case 1: 
                yAngle += 360*(parseInt(getRandomNum()/61)%5+2);
                xAngle += (360*(parseInt(getRandomNum()/29)%5+2)+270);
                break;
            case 2:
                yAngle += 360*(parseInt(getRandomNum()/31)%5+2);
                xAngle += 360*(parseInt(getRandomNum()/53)%5+2);
                break;
            case 3:
                yAngle += (360*(parseInt(getRandomNum()/13)%5+2)+270);
                xAngle += 360*(parseInt(getRandomNum()/37)%5+2);
                break;
            case 4:
                yAngle += (360*(parseInt(getRandomNum()/41)%5+2)+90);
                xAngle += 360*(parseInt(getRandomNum()/43)%5+2);
                break;
            case 5:
                yAngle += 360*(parseInt(getRandomNum()/47)%5+2);
                xAngle += (360*(parseInt(getRandomNum()/17)%5+2)+180);
                break;
            case 6:
                yAngle += (360*(parseInt(getRandomNum()/59)%5+2)+90);
                xAngle += (360*(parseInt(getRandomNum()/19)%5+2)+90);
                break;
        };
        document.getElementsByClassName('cube')[0].style[prop] = "rotateX("+xAngle+"deg) rotateY("+yAngle+"deg)";
        xAngle = 0;
        yAngle = 0;
        rst = getRandomNum2();
        rstValue += rst;
        console.log("rstValue:"+rstValue);
        switch(rst){
            case 1: 
                yAngle += 360*(parseInt(getRandomNum()/61)%5+2);
                xAngle += (360*(parseInt(getRandomNum()/29)%5+2)+270);
                break;
            case 2:
                yAngle += 360*(parseInt(getRandomNum()/31)%5+2);
                xAngle += 360*(parseInt(getRandomNum()/53)%5+2);
                break;
            case 3:
                yAngle += (360*(parseInt(getRandomNum()/13)%5+2)+270);
                xAngle += 360*(parseInt(getRandomNum()/37)%5+2);
                break;
            case 4:
                yAngle += (360*(parseInt(getRandomNum()/41)%5+2)+90);
                xAngle += 360*(parseInt(getRandomNum()/43)%5+2);
                break;
            case 5:
                yAngle += 360*(parseInt(getRandomNum()/47)%5+2);
                xAngle += (360*(parseInt(getRandomNum()/17)%5+2)+180);
                break;
            case 6:
                yAngle += (360*(parseInt(getRandomNum()/59)%5+2)+90);
                xAngle += (360*(parseInt(getRandomNum()/19)%5+2)+90);
                break;
        };      
        document.getElementsByClassName('cube')[1].style[prop] = "rotateX("+xAngle+"deg) rotateY("+yAngle+"deg)";
        $(this).attr("pre",rstValue);
 
        var whereClass = $("li[selectedH='yes']").eq(order).attr("class"), whereIs = 0;
        console.log("whereClass:"+whereClass);
        whereIs = parseInt(whereClass.replace("move",""));
        console.log("whereWas:"+whereIs);
        afterWhereIs = (whereIs+rstValue)%20;
        console.log("WhereIs:"+afterWhereIs);
        var q_before = parseInt(whereIs / 5), r_before = parseInt(whereIs % 5), q = parseInt(afterWhereIs / 5), r = parseInt(afterWhereIs % 5);
        moveArray=[];
        if(q_before > q) q = q + 4;
        var getEdge = function(idx){
            moveArray.push("move"+(idx%4)*5);  
            console.log("moveArray has : "+"move"+((idx%4)*5));
        }
        for(var i = q_before+1; i <= q; i++){
            getEdge(i);
        }
        moveArray.push("move"+afterWhereIs);
        console.log("moveArray has final value : "+"move"+afterWhereIs);
        var moving = function(timing){
             setTimeout(function(){
                $("li[selectedH='yes']").eq(order).attr('class',moveArray[timing]);
            }, 2500+500*timing);  
        }
        for(var j = 0; j < moveArray.length; j++){ 
            moving(j);                          
        }         
        
        var disableClick = setTimeout(function(){
            disableAnotherClick = false;
            order = (order+1)%($("li[selectedH='yes']").length);
            doWork(afterWhereIs);
            if(dayChange.dayleft <= level_day[4]){
               becomeExpert(dayChange.vacation, afterWhereIs);            
            }
        }, 2500+500*moveArray.length);
        
       
    });
            
    $("#macao_button").hover(function(){
       $(this).addClass("gofar");        
    }, function(){
        $(this).removeClass("gofar");   
    }); 
    
    var turn = 1;
    $("#player1").one('click', function(){        
        $(this).attr("selectedH", "yes");
        $(this).addClass("move0");   
        $("#day-data-1").show();
        var profile1 = {dayleft: "640", order: player_order, vacation: "", accident: "0"};
        sessionStorage.setItem("player"+player_order++, JSON.stringify(profile1));
    });    
    $("#player2").one('click', function(){
        $(this).attr("selectedH", "yes");
        $(this).addClass("move0"); 
        $("#day-data-2").show();
        var profile2 = {dayleft: "640", order: player_order, vacation: "", accident: "0"};
        sessionStorage.setItem("player"+player_order++, JSON.stringify(profile2));
    });
    $("#player3").one('click', function(){
        $(this).attr("selectedH", "yes");
        $(this).addClass("move0"); 
        $("#day-data-3").show();
        var profile3 = {dayleft: "640", order: player_order, vacation: "", accident: "0"};
        sessionStorage.setItem("player"+player_order++, JSON.stringify(profile3));
    });
    $("#player4").one('click', function(){
        $(this).attr("selectedH", "yes");
        $(this).addClass("move0"); 
        $("#day-data-4").show();
        var profile4 = {dayleft: "640", order: player_order, vacation: "", accident: "0"};
        sessionStorage.setItem("player"+player_order++, JSON.stringify(profile4));
    });    
    $("#player5").one('click', function(){
        $(this).attr("selectedH", "yes");
        $(this).addClass("move0"); 
        $("#day-data-5").show();
        var profile5 = {dayleft: "640", order: player_order, vacation: "", accident: "0"};
        sessionStorage.setItem("player"+player_order++, JSON.stringify(profile5));
    });
        
/*    $('body').keyup(function(evt) {
        switch(evt.keyCode) {
            case 37: // left
                yAngle -= 90;
                break;
            
            case 38: // up
                xAngle += 90;				
                break;
            
            case 39: // right
                yAngle += 90;
                break;
                
            case 40: // down
                xAngle -= 90;
                break;
        };
    });*/
</script>
</body>
</html>
